 .img{

    background-image: url('https://previews.123rf.com/images/amisb/amisb1702/amisb170200205/73266369-page-not-found-error-404-.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-position: center;
}

